.w-100per {
	width: 100%;
}

.w-50per {
	width: 50%;
}

.w-300 {
	width: 300px;
}

.w-500 {
	width: 500px;
}

.h-100per {
	height: 100%;
}

.h-50per {
	height: 50%;
}

.h-300 {
	height: 300px;
}

.h-500 {
	height: 500px;
}